body {
	background-color: #cecece;
}
a {
	color: black;
}
.fa-facebook-official {
	margin-right: 20px;
}
.fa-twitter {
	margin-right: 20px;
}
.fa-flickr {
	margin-right: 20px;
}
.fa-vimeo {
	margin-right: 20px;
}
.fa {
	margin-top: 20px;
}
.fa-search {
	padding-right: 20px;
	margin-left: 20px;
	color: #cecece;
	margin-bottom: 12px;
}
.navbar-default {
	margin-top: 30px;
	width: 105%;
}
.nav-tabs {
	margin-left: 650px;
	margin-top: 15px;
}
#container2 {
	background-color: #f8f8f8;
	width: 105%;

}
.item {
	margin-left: 200px;
}
p{
	border: 1px solid grey;
	padding: 10px;
	background-color: #f7f7f7;
	margin-top: 50px;
}
.btn {
	margin-left: 60px;
	background-color: #e0e0e0;
}
.carousel {
	margin-top: 30px;
}

.fa-desktop {
	color: #a9a9a9;
	margin-bottom: 10px;
}
.fa-calendar-check-o {
	color: #a9a9a9;
	margin-bottom: 10px;
}
.one {
	margin-left: 20px;
}
.one-text {
	margin-left: 65px;
}
.two {
	margin-left: 20px;
}
.two-text{
	margin-left: 65px;
}
.fa-cog {
	color: #a9a9a9;
	margin-bottom: 10px;
}
.four {
	margin-left: 20px;
}
.four-text {
	margin-left: 65px;
}
.recent {
	margin-top: 30px;
}
.footer {
	margin-top: 30px;
	background-color: #f8f8f8;
	width: 105%;
}
#container4 {
	background-color: #222222;
	width: 100%;
}
h5 {
	color: black;
}
.twitter {
	margin-top: 30px;
}